<p>Estimado participante de HackMx 5.0,</p>
<p>
   Esperamos que estés emocionado por ser parte de HackMx 5.0, el evento de hacking más emocionante del año. Sabemos que a veces olvidamos nuestras contraseñas, pero no te preocupes, estamos aquí para ayudarte a recuperar el acceso a tu cuenta.
</p>
<p>
   Hemos recibido una solicitud para restablecer la contraseña de tu cuenta de HackMx 5.0. Si no hiciste esta solicitud, por favor, ignora este correo electrónico. Si fuiste tú quien solicitó el restablecimiento, sigue los siguientes pasos:
</p>
<ol>
   <li>
      Haz clic en el siguiente enlace para restablecer tu contraseña <a href="<%= resetLink %>"><%= resetLink %></a>.
   </li>
   <li>Se te redirigirá a una página segura donde podrás crear una nueva contraseña.</li>
   <li>Ingresa la nueva contraseña y confírmala.</li>
</ol>
<p>
   Asegúrate de que tu nueva contraseña sea segura y contenga una combinación de letras mayúsculas y minúsculas, números y caracteres especiales.
</p>
<p>
   Si no solicitaste este restablecimiento de contraseña y consideras que tu cuenta podría estar en riesgo, por favor, contáctanos de inmediato en <a href="mailto:admin@hackmx.mx">admin@hackmx.mx</a> para que podamos ayudarte a asegurar tu cuenta.
</p>
<p>¡Gracias por ser parte del HackMx2023!</p>
<p>Atentamente,</p>
<p>Comité organizador del HackMx2023</p>
